<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="MiBalon" value="99"/>-->
    <add key="Cultura" value="es-PE" />
    <add key="log" value="true" />
    <add key="extensionABuscar" value=".xml" />
    <add key="20511401764" value="|150100|NRO. 417|LIMA|LIMA|LIMA" />
    <add key="ConexionMysqlInter" value="server=localhost;Initial Catalog=bd_intermedia_des; User=root; Password = Welc0me2018@;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>