<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SEE_ITC_CARGA_CPES_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Indetificador del Cliente-->
    <add key="servicio" value="SEE_ITC_CARGA_CPES_V2" />
    <add key="ConexionMysqlInter" value="server=localhost;Initial Catalog=bd_grupo_cala; User=root; Password = Welc0me2000@;" />
    <add key="intervalo" value="2" />
    <add key="programacion" value="" />
    <add key="log" value="true" />
  </appSettings>
  <applicationSettings>
    <SEE_ITC_CARGA_CPES_V2.Properties.Settings>
      <setting name="SEE_ITC_CARGA_CPES_V2_ITC_WS_SEE_RECP_CPEs" serializeAs="String">
        <value>https://testsee.itc.com.pe/ws_recp_cpes/WS_SEE_RECP_CPEs.asmx</value>
      </setting>
    </SEE_ITC_CARGA_CPES_V2.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>