<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SEE_ITC_RESP_SUNAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Indetificador del Cliente-->
    <add key="cliente" value="1" />
    <add key="servicio" value="SEE_ITC_RESP_SUNAT" />
    <add key="ConexionMysqlInter" value="server=localhost;Initial Catalog=bd_intermedia_desarrollo; User=root; Password = Welc0me2000@;" />
    <add key="intervalo" value="1.5" />
    <add key="programacion" value="" />
    <add key="log" value="false" />
  </appSettings>
  <applicationSettings>
    <SEE_ITC_RESP_SUNAT.Properties.Settings>
      <setting name="SEE_ITC_RESP_SUNAT_WS_SEE_ITC_RESP_SUNAT_SEE_ITC_RESP_SUNAT" serializeAs="String">
        <value>http://localhost:27126/SEE_ITC_RESP_SUNAT.asmx</value>
      </setting>
    </SEE_ITC_RESP_SUNAT.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>